{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/css/style.css' %}" />
<!-- <script src="{% static 'polls/js/build/react.js' %}"></script> -->
<!-- <script src="{% static 'polls/js/build/react-dom.js' %}"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.2/marked.min.js"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.2/react.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.2/react-dom.js"></script> -->
<script src="https://fb.me/react-0.14.3.min.js"></script>
<script src="https://fb.me/react-dom-0.14.3.min.js"></script>
<script src="https://fb.me/react-with-addons-0.14.3.min.js"></script>
<script src="https://fb.me/react-dom-0.14.3.min.js"></script>
    <!-- // <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script> -->
    <!-- // <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script> -->

<!-- <script src="{% static 'polls/js/build/JSXTransformer.js' %}"></script> -->

<head>
    <meta charset="UTF-8" />
    <title>Hello React</title>
    <meta http-equiv="X-FRAME-Options" content="SameOrigin">
     <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.2/marked.min.js"></script> -->
  </head>

<body>
	<div id="content">
	<section id="todoapp"></section>
    <footer id="info">
      <p>Double-click to edit a todo</p>
      <p>Created by <a href="http://facebook.com/bill.fisher.771">Bill Fisher</a></p>
      <p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
    </footer>
	</div>

	<script src="{% static 'projects2/dist/js/main.js' %}"></script>
	<!-- // <script src="{% static 'polls/js/build/helloword.js' %}"></script> -->

	
	<!-- // <script src="{% static 'polls/js/index.js'%}"></script> -->
	 <!-- <script src="{% static 'polls/js/index2.js'%}"></script> -->
	<!-- // <script src="{% static 'polls/js/index3.js'%}"></script> -->
	<!-- // <script src="{% static 'polls/js/indexTest.js'%}"></script> -->
	


</body>